@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url(./../../public/image\ 3.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.icon-container {
    height: 80px;
	width: 100%;
	overflow: hidden;
	position: relative;
    display: flex;
}

@keyframes scroll-left {
    to {
        left: -90px
    }
}

.icon{
    position: absolute;
    left: max(calc(200px * 3), 100%);
    animation-name: scroll-left;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.icon-1 {
    animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.icon-2 {
    animation-delay: calc(30s / 9 * (9 - 2) * -1);
}

.icon-3 {
    animation-delay: calc(30s / 9 * (9 - 3) * -1);
}

.icon-4 {
    animation-delay: calc(30s / 9 * (9 - 4) * -1);
}

.icon-5 {
    animation-delay: calc(30s / 9 * (9 - 5) * -1);
}

.icon-6 {
    animation-delay: calc(30s / 9 * (9 - 6) * -1);
}

.icon-7 {
    animation-delay: calc(30s / 9 * (9 - 7) * -1);
}

.icon-8 {
    animation-delay: calc(30s / 9 * (9 - 8) * -1);
}

.icon-9 {
    animation-delay: calc(30s / 9 * (9 - 9) * -1);
}

